* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-svg-active-color: hsl(0, 0%, 100%);
  font-size: 62.5%;
}

.light-theme {
  --bg-theme: hsl(0, 0%, 100%);
  --bg-buttons: hsl(240, 9%, 89%);
  --bg-active: hsl(194, 97%, 31%);
  --bg-svg-color: hsl(240, 6%, 21%);
  --font-color: hsl(240, 6%, 21%);
  --svg-color: hsl(240, 6%, 21%);
  --svg-color-active: hsl(0, 0%, 100%);
  --input-color: #323238;
}

.dark-theme {
  --bg-theme: hsl(240, 5%, 7%);
  --bg-buttons: hsl(240, 6%, 17%);
  --bg-active: hsl(195, 74%, 15%);
  --bg-svg-color: hsl(240, 7%, 78%);
  --font-color: hsl(0, 0%, 100%);
  --svg-color: hsl(240, 7%, 78%);
  --svg-color-active: hsl(0, 0%, 100%);
  --input-color: #FFFFFF;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  background-color: var(--bg-theme);
  transition: 1s;
}

.theme {
  display: flex;
  justify-content: right;
}

.theme button {
  background: none;
  border: none;
  padding-top: 4rem;
  padding-right: 6.4rem;
  margin: 0;
}

.page {
  margin-block: 12.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 19.2rem;
}

svg path {
  fill: var(--font-color);
}

button:hover {
  cursor: pointer;
}

.timer span {
  font-weight: 500;
  font-size: clamp(3rem, 4rem + 10vw,12.6rem);
  color: var(--svg-color);
  margin-bottom: 1.7rem;
}

.timer .buttons {
  display: flex;
  gap: clamp(1rem, 1rem + 5vw, 4rem);
  align-items: center;
  justify-content: center;
}

.timer .buttons button {
  background: none;
  border: none;
}

.hide {
  display: none;
  visibility: hidden;
}

.sounds {
  display: grid;
  gap: 3.2rem;
  grid-template-areas: 
    "forest rain"
    "coffee fire"; 
  align-items: center;
  justify-content: center;
}

.sounds button {
  background: var(--bg-buttons);
  border-radius: 2.4rem;
  padding: 2.4rem 4.7rem 3.2rem 4.7rem;
  border: none;
  transition: 0.5s;
  width: clamp(5rem, 8rem + 10vw, 13.8rem);
  height: clamp(5rem, 8rem + 10vh, 15.2rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sounds button svg {
  width: 4rem;
  height: 5.6rem;
}

.sounds input {
  -webkit-appearance: none;
  width: 9rem;
  height: 0.4rem;
  border-radius: 0.5rem;
  display: block;
  width: 9rem;
  margin-top: 3.8rem;
  background-color: var(--input-color);
}

.sounds input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: var(--input-color);
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
}


.sounds .card.active button {
  background: var(--bg-active);
}

.sounds .card.active button svg path {
  fill: var(--svg-color-active);
}

@media (max-width: 980px) {
  .page {
    max-width: 80%;
    margin-inline: auto;
    margin-block: 2rem;
    display: block;
    text-align: center;
  }
  .timer .buttons {
    justify-content: center;
    margin-bottom: 2rem;
  }
  .sounds {
    gap: 2rem;
  }
}